.WeekdayHeader {
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #e0ffff;
    border-style:solid;
    border-width:1px;
}

.WeekendHeader {
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #ffffc0;
    border-style:solid;
    border-width:1px;
}

.Weekday {
    text-align: left;
    vertical-align: top;
    width: 100px;
    height: 90px;
    background-color: #e0ffff;
    border-style:solid;
    border-width:1px;
}

.Weekend {
    text-align: left;
    vertical-align: top;
    width: 100px;
    height: 90px;
    background-color: #ffffc0;
    border-style:solid;
    border-width:1px;
}

.Placeholder {
    height: 90px;
    border-style: solid;
    border-width: 1px;
}

.CalendarHeader {
    text-align: center;
    height: 30px;
    border-style:solid;
    border-width:1px;
}

.CalendarMonthYear {
    font-family: Sans-Serif;
    font-size:xx-large;
}

.ExtraInfo {
    width: 400px;
    border-style: solid;
    border-width: 1px;
}

.PreCalc {
    font-family: monospace;
    font-size: smaller;
}

.TableHeader { background-color: #efefff;  }
.NumericData { font-family: Monospace; text-align: right; width: 8em; }
.FlatText { font-family: Monospace; }
.EventTimeData { font-family: Monospace; }
.UnitSup { font-style:normal; font-family: Arial; }
.EditDateBox { color: Black; text-align: center; font-family: Monospace; }
.EditLatLonBox { font-family: Monospace; }
.OptionHeader { font-size: larger; text-decoration: underline; }
.ControlBox { border-style: inset; border-width: thin; }
.PullDown { font-family: Monospace; }
.DateTimeCaption { text-align: center; font-size: smaller; font-family: sans-serif; }
